
body {
  background-image: url(https://cutewallpaper.org/21/deadpool-desktop-wallpaper/Cool-Deadpool-Wallpapers-30-images-WallpaperBoat.jpg);
}


.navButton{
    font-family: sans-serif;
   text-decoration: none;
   color:rgb(236, 63, 11)
}
.pageTitle{
   text-align: center;
   color: rgb(151, 26, 26);
}

form {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #000000;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(245, 245, 245);
    border:1px solid #E4E4E4;
}
h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #e4e4e4;
    margin: -10px -15px 30px -10px;;
    color: rgb(246, 178, 252);
}
h1>span {
    display: block;
    font-size: 11px;
}
label {
    display: block;
    margin: 0px;
}
label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: rgb(59, 168, 182);
}
input[type="text"], input[type="email"], textarea, select {
    border: 1px solid #DADADA;
    color: rgb(5, 5, 5);
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
textarea{
    padding: 5px 3px 3px 5px;
}
select {
    background: rgb(143, 142, 69) url('down-arrow.png') no-repeat right;
    background: rgb(229, 132, 132) url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
textarea{
    height:100px;
}
.button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.button:hover {
    background: #CF7A7A
}

footer {
    display: grid;
grid-template-columns: 50% 50%;
background-color: black;
color: white;

}


footer p {
    color: white;
    grid-column: 1/2;
margin-left: 5%;
  margin-left: 25%;
padding-top: 10%;}

.links {
 grid-column: 2/3;
 margin-left: 25%;
padding-top: 10%;
}
@media (max-width: 600px) {
    
    p {
        color: rgb(255, 255, 255);
    }

main {
    background-color: black;
    background-image: none;
}

}footer {
    display: block;
}